.header {
  background-color: #fff3e4;
  overflow: hidden;
  /* border-radius: 0 0 50% 50% / 0 0 180px 180px; */
  border-bottom-left-radius: 50% 200px;
  border-bottom-right-radius: 50% 200px;
  margin-bottom: 6.25rem;
}

@media screen and (max-width: 576px) {
  .header {
    border-radius: 0;
    overflow: visible;
  }
}
