.features {
  margin-top: 3.75rem;
}

.features__title {
  color: #0a215f;
  width: 33rem;
  text-align: center;
  margin: 0 auto;
}

.features__title h2 {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 0.0025em;
  margin-bottom: 1.25rem;
}

.features__title p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.005em;
  margin-bottom: 3.75rem;
}

.features__card {
  margin: 0 auto;
  text-align: justify;
  display: inline-block;
  background-color: #fafcfd;
}

.features__card::after {
  display: inline-block;
  content: "";
  width: 25%;
}

.features__card img {
  display: inline-block;
}

.card--details {
  color: #071742;
  width: 18rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 2.3125rem;
}

.card--details h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 24px;
}

.card--details p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.005em;
}

.features__card__section {
  text-align: justify;
  margin-left: 1rem;
}

.features__card__section::after {
  width: 100%;
  display: inline-block;
  content: "";
}

@media screen and (max-width: 1200px) {
  .features__title {
    width: auto;
    text-align: center;
  }

  .features__title h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-bottom: 1.25rem;
  }

  .features__title p {
    font-size: 1.125rem;
    margin-bottom: 3rem;
  }

  .features__card {
    text-align: justify;
  }

  .features__card::after {
    display: inline-block;
    width: 20%;
  }

  .card--details {
    width: 20rem;
    display: inline-block;
  }

  .features__card__section {
    text-align: justify;
  }

  .features__card__section::after {
    width: 100%;
    display: inline-block;
  }
}

@media screen and (max-width: 576px) {
  .features__title {
    width: auto;
    text-align: center;
  }

  .features__title h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-bottom: 1.25rem;
  }

  .features__title p {
    font-size: 1.125rem;
    margin-bottom: 3rem;
  }

  .features__card {
    text-align: center;
    display: block;
  }

  .features__card::after {
    display: block;
    width: 55%;
  }

  .card--details {
    width: auto;
    display: block;
  }

  .features__card__section {
    text-align: center;
  }

  .features__card__section::after {
    width: 100%;
    display: block;
  }
}
