<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="./buttons.css" />
  </head>
  <body>
    <header>
      <nav>
        <h3 id="site_name">UI KIT</h3>
        <ul>
          <li>Color</li>
          <li>Typography</li>
          <li>Buttons</li>
          <li>Forms</li>
          <li>List Group</li>
          <li>Table</li>
          <li>Card</li>
        </ul>
        <form class="search_form">
          <input class="search" type="text" placeholder="Search" />
          <div id="search_button">Search</div>
        </form>
      </nav>
    </header>
    <div class="container">
      <h1 class="component-name">Buttons</h1>
      <hr />

      <!-- Primary Button section -->
      <section class="button-type">
        <h2>Primary</h2>
        <hr />
        <table>
          <tbody>
            <tr>
              <td><div class="table-text table-layout">default</div></td>
              <td>
                <div class="table-button table-layout" id="default-default">
                  Primary
                </div>
              </td>
              <td>
                <div class="table-button table-layout" id="default-outline">
                  outline
                </div>
              </td>
            </tr>
            <tr>
              <td><div class="table-text table-layout">hover</div></td>
              <td>
                <div class="table-button table-layout" id="hover-default">
                  Primary
                </div>
              </td>
              <td>
                <div class="table-button table-layout" id="hover-outline">
                  outline
                </div>
              </td>
            </tr>
            <tr>
              <td><div class="table-text table-layout">focus</div></td>
              <td>
                <div class="table-button table-layout" id="focus-default">
                  Primary
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <!-- Secondary Button section -->
      <section class="button-type">
        <h2>Secondary Button</h2>
        <hr />
        <table>
          <tbody>
            <tr>
              <td><div class="table-text table-layout">default</div></td>
              <td>
                <div class="table-button table-layout" id="default-secondary">
                  Secondary
                </div>
              </td>
              <td>
                <div class="table-button table-layout" id="default-outline">
                  outline
                </div>
              </td>
            </tr>
            <tr>
              <td><div class="table-text table-layout">hover</div></td>
              <td>
                <div class="table-button table-layout" id="hover-secondary">
                  Secondary
                </div>
              </td>
              <td>
                <div class="table-button table-layout" id="hover-outline">
                  outline
                </div>
              </td>
            </tr>
            <tr>
              <td><div class="table-text table-layout">focus</div></td>
              <td>
                <div class="table-button table-layout" id="focus-secondary">
                  Secondary
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </body>
</html>
