<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="./forms.css" />
  </head>
  <body>
    <header>
      <nav>
        <h3 id="site_name">UI KIT</h3>
        <ul>
          <li>Color</li>
          <li>Typography</li>
          <li>Buttons</li>
          <li>Forms</li>
          <li>List Group</li>
          <li>Table</li>
          <li>Card</li>
        </ul>
        <form class="search_form">
          <input class="search" type="text" placeholder="Search" />
          <div id="search_button">Search</div>
        </form>
      </nav>
    </header>
    <div class="container">
      <h1 class="component-name">Forms</h1>
      <hr />

      <!-- Primary Button section -->
      <section class="button-type">
        <h2>Components</h2>
        <hr />
        <table>
          <tbody>
            <tr>
              <td>Color</td>
              <td>Typography</td>
              <td>Buttons</td>
              <td>Forms</td>
              <td>List-Group</td>
              <td>Table</td>
              <td>Card</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </body>
</html>
