<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="./table.css" />
  </head>
  <body>
    <header>
      <nav>
        <h3 id="site_name">UI KIT</h3>
        <ul>
          <li><a href="../index.html">Color</a></li>
          <li><a href="./typography.html">Typography</a></li>
          <li><a href="./buttons.html">Buttons</a></li>
          <li><a href="./forms.html">Forms</a></li>
          <li><a href="./listgroup.html">List Group</a></li>
          <li><a href="#">Table</a></li>
          <li><a href="./card.html">Card</a></li>
        </ul>
        <form class="search_form">
          <input class="search" type="text" placeholder="Search" />
          <div id="search_button">Search</div>
        </form>
      </nav>
    </header>
    <div class="container">
      <h1 class="component-name">List Group</h1>
      <hr />

      <table>
        <thead>
          <tr>
            <td>#</td>
            <td>First</td>
            <td>Last</td>
            <td>Handle</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      <div class="pages">
        <ul>
          <li>Prev</li>
          <li class="selected">1</li>
          <li>2</li>
          <li>3</li>
          <li>Next</li>
        </ul>
      </div>
    </div>
  </body>
</html>
