<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="./typography.css" />
  </head>
  <body>
    <header>
      <nav>
        <h3 id="site_name">UI KIT</h3>
        <ul>
          <li>Color</li>
          <li>Typography</li>
          <li>Buttons</li>
          <li>Forms</li>
          <li>List Group</li>
          <li>Table</li>
          <li>Card</li>
        </ul>
        <form class="search_form">
          <input class="search" type="text" placeholder="Search" />
          <div id="search_button">Search</div>
        </form>
      </nav>
    </header>
    <div class="container">
      <h2 class="component-name">Typography</h2>
      <hr />
      <div class="floating-container">
        <section class="section-type">
          <h2>Body Text</h2>
          <p class="text-height">
            In ultricies fermentum aliquet. Pellentesque dui magna, condimentum
            non ullamcorper at, cursus in sem. Nunc condimentum, purus ac
            sagittis ultricies, metus leo pharetra mi, non vehicula felis elit
            et nisi. Etiam venenatis commodo libero, vel ullamcorper nibh
            lobortis vel. Aliquam auctor porta tortor, nec consequat nibh
            finibus a. Sed ultrices risus eget iaculis luctus. Mauris vel
            gravida magna.
          </p>
        </section>
        <section class="section-type">
          <h2>Inline Text Elements</h2>
          <p class="inline-text-height">
            You can use the mark tag to highlight text.
          </p>

          <del
            ><p class="inline-text-height">
              This line of text is meant to be treated as deleted text.
            </p></del
          >
          <del
            ><p class="inline-text-height">
              This line of text is meant to be treated as no longer accurate.
            </p></del
          >
          <u
            ><p class="inline-text-height">
              This line of text is meant to be treated as an addition to the
              document.
            </p></u
          >
          <u
            ><p class="inline-text-height">
              This line of text will render as underlined
            </p></u
          >
          <p class="inline-text-height">
            <small
              >This line of text is meant to be treated as fine print</small
            >
          </p>
          <b
            ><u
              ><p class="inline-text-height">
                This line rendered as bold text.
              </p></u
            ></b
          >
          <p class="inline-text-height">
            This line rendered as italicized text.
          </p>
        </section>
      </div>
      <section class="section-lead">
        <h2>Lead Text</h2>
        <p class="lead-text">
          In ultricies fermentum aliquet. Pellentesque dui magna, condimentum
          non ullamcorper at, cursus in sem. Nunc condimentum, purus ac enenatis
          commodo libero, am auctor porta tortor, nec consequat nibh finibus a.
          Sed ultrices risus eget iaculis luctus. Mauris vel gravida magna.
        </p>
      </section>
    </div>
    <div class="container">
      <h2 class="component-name">Tabs</h2>
      <hr />
      <ul class="tabs">
        <li class="tab-list">Home</li>
        <li class="tab-list">Profile</li>
        <li class="tab-list">Contact</li>
        <li class="tab-list">&nbsp;</li>
      </ul>
      <p class="tab-text">
        Raw denim you probably haven't heard of them jean shorts Austin.
        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
        cliche tempor, williams burg carles vegan helvetica. Reprehenderit
        butcher retro keffiyeh dreamc atcher synth. Cosby sweater eu banh mi,
        qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate
        nisi qui.
      </p>
    </div>
  </body>
</html>
