.color h2 {
  font-size: 2.25rem;
  padding: 1rem 0;
}

.color-row {
  padding-bottom: 3.5rem;
}

.coloritem {
  float: left;
  margin-right: 2rem;
}

.coloritem div {
  padding: 1.25rem 2.25rem;
  border-radius: 4px;
  margin-bottom: 0.4rem;
}

.coloritem h4 {
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
}

.coloritem h5 {
  font-weight: 300;
  color: #6b7176;
}

#primary {
  background-color: #7749f8;
}
#primary-dark {
  background-color: #5227cc;
}
#primary-light {
  background-color: #ebe5fc;
}

#secondary {
  background-color: #6c757d;
}
#secondary-dark {
  background-color: #54595e;
}
#secondary-light {
  background-color: #abb5be;
}

#success {
  background-color: #28a745;
}
#danger {
  background-color: #dc3545;
}
#warning {
  background-color: #ffc107;
}
#info {
  background-color: #17a2b8;
}

#gray-600 {
  background-color: #6c757d;
}
#gray-700 {
  background-color: #495057;
}
#gray-800 {
  background-color: #343a40;
}
#gray-900 {
  background-color: #212529;
}
