* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  padding: 2rem;
  overflow: hidden;
  margin-bottom: 0.875rem;
}

.navbar-menu {
  background-color: transparent;
  border: 0;
  outline: none;
  display: none;
  float: right;
}

.logo {
  float: left;
  padding: 0.625rem 0.5rem;
}

.nav-bar {
  float: right;
}

.nav-list li {
  float: left;
  list-style-type: none;
  margin-left: 3rem;
  padding-top: 0.813rem;
  font-weight: 600;
}

.btn {
  border-radius: 0.25rem;
  padding: 1rem 1.875rem;
  margin-right: 0.5rem;
  text-decoration: none;
  font-weight: 600;
}

.btn.btn-primary {
  background-color: #4e42d9;
  color: white;
}

.btn.btn-secondary {
  background-color: #dfddf8;
  color: #4e42d9;
}

.parent-container {
  margin: 0 auto;
  width: 83%;
}

.container {
  padding-bottom: 100px;
}

.container::after {
  content: "";
  clear: both;
  display: block;
}

.container img {
  float: right;
  width: 50%;
  /* padding-bottom: 4.5rem; */
}

.container .article {
  float: left;
  margin-top: 70.496px;
  width: 40%;
}

.container .article h1 {
  font-size: 2.25rem;
  line-height: 2.938rem;
  font-style: normal;
  font-weight: 700;
  width: 31.25rem;
  color: #3b3950;
}

.container .article p {
  margin-top: 0.75rem;
  line-height: 1.5rem;
  font-style: normal;
  font-weight: 400;
  width: 28.375rem;
  color: #797979;
}

.article-btn-grp {
  margin-top: 3rem;
}

.our-work-title {
  position: absolute;
  width: 12.25rem;
  height: 3.563rem;
  left: 50%;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.563rem;
  transform: translate(-50%, 0);
}

.our-work-row {
  width: 100%;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.01em;
  margin-top: 10.563rem;
  margin-bottom: 4.5rem;
}

.our-work-row::after {
  content: "";
  clear: both;
  display: block;
}

.our-work-list {
  float: left;
  width: 23.5%;
}

.our-work-list:not(:last-child) {
  margin-right: 1.25rem;
}

.our-work-list img {
  /* width: 100%; */
  margin-bottom: 1.5rem;
}

.our-work-list h2 {
  /* width: 100%; */
  font-weight: 500;
  font-size: 1.563rem;
  line-height: 2.375rem;
  color: #3b3950;
  margin-bottom: 0.5rem;
}

.our-work-list p {
  /* width: 100%; */
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #797979;
}

.secondary-container {
  background-color: #f8f8f8;
  padding: 4.5rem 0 0 0;
  position: relative;
}

.blog-article {
  /* margin-left: 20rem; */
  text-align: center;
  width: 100%;
}

.blog-article h2 {
  width: 100%;
  width: 4.563rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.813rem;
  letter-spacing: 0.01em;
  color: #3b3950;
  margin-bottom: 0.5rem;
  /* padding-left: 15.188rem; */
}

.blog-article p {
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.01em;
  color: #797979;
}

.hot-topics {
  margin-top: 2.5rem;
  margin-bottom: 4.438rem;
}

.hot-topics::after {
  content: "";
  clear: both;
  display: block;
}

.hot-article {
  float: left;
  width: 31%;
  margin-left: 1.25rem;
}

.hot-article img {
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  width: 100%;
}

.hot-article h6 {
  width: 100%;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #797979;
  margin-bottom: 0.75rem;
}

.hot-article h3 {
  width: 100%;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.563rem;
  letter-spacing: 0.01em;
  color: #3b3950;
  margin-bottom: 0.5rem;
  width: 24.167rem;
}

.hot-article p {
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.01em;
  color: #797979;
}

.view {
  position: relative;
  text-align: center;
  padding-bottom: 9rem;
}

.view > .btn {
  position: absolute;
  left: 45.5%;
  transform: translate(-50%, 0%);
}

footer {
  /* position: absolute; */
  width: 100%;
  background-color: #292838;
  width: 100%;
  overflow: hidden;
  font-size: 0.625rem;
  color: white;
}

.container {
  width: 83%;
  margin: 0 auto;
}

.footer-body {
  width: 100%;
  overflow: hidden;
}

.footer-body .footer-content {
  float: left;
  width: 33%;
  margin: 7.2em 0 14.1em 0;
}

.footer-content > .footer-heading {
  font-size: 3em;
  font-weight: 700;
  line-height: 2.8em;
}

.footer-content > p {
  margin-top: 1.2em;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
}

.footer-body .footer-list {
  float: right;
  margin: 7.2em 0;
}

.footer-list div {
  float: left;
  margin-left: 8.9em;
}

.footer-list ul:first-child {
  margin-left: 0;
}

.footer-list h4 {
  font-weight: 600;
  font-size: 1.8em;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 2.4em;
}

.footer-list ul > li {
  list-style-type: none;
  margin-bottom: 1.6em;
}

.footer-list ul > li > a {
  font-weight: 400;
  font-size: 1.6em;
  line-height: 110%;
  color: rgba(255, 255, 255, 0.8);
}

.footer-list > ul > li:last-child {
  margin-bottom: 0;
}

.footer-end {
  width: 100%;
  text-align: center;
  background-color: #23222f;
}

.footer-end > p {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 1.9em;
  padding-bottom: 1.7em;
}

@media all and (max-width: 75rem) {
  .container {
    margin-bottom: 6.25rem;
    display: block;
    overflow: hidden;
    width: 100%;
  }

  .container {
    padding-bottom: 0;
  }

  .container img {
    float: none;
    width: 100%;
    display: block;
  }

  .container .article {
    float: none;
    margin: 0;
    width: 100%;
  }

  .container .article h1 {
    font-size: 2.25rem;
    line-height: 2.938rem;
    font-style: normal;
    font-weight: 700;
    width: 100%;
    color: #3b3950;
  }

  .container .article p {
    margin-top: 0.75rem;
    line-height: 1.5rem;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    color: #797979;
  }

  .article-btn-grp {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 0.875rem;
  }

  .our-work-row {
    margin-top: 14.3125rem;
    margin-bottom: 3.125rem;
  }

  .our-work-list {
    position: relative;
    float: none;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .our-work-list:not(:last-child) {
    margin-bottom: 1.25rem;
    margin-right: 0;
  }

  .our-work-list h2 {
    font-size: 1.563rem;
  }

  .our-work-list p {
    position: relative;
    width: 26.6875rem;
    height: 3.5rem;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .secondary-container {
    width: 100%;
    padding: 4.5rem 0rem;
  }

  .blog-article {
    margin-left: 0;
    margin-bottom: 4.5rem;
  }

  .blog-article h2 {
    width: 100%;
    padding-left: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .blog-article p {
    width: 100%;
    padding: auto 1.875rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .hot-topics {
    width: 100%;
  }

  .hot-article {
    float: none;
    width: 50%;
    margin-bottom: 50px;
    padding: 0 25%;
  }

  .view {
    padding-bottom: 4.5rem;
  }

  .view > .btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .footer-body > .container {
    padding: 0 12%;
  }

  .footer-body > p {
    padding-right: 12%;
  }

  .footer-content > P {
    padding-right: 15%;
  }

  .footer-body .footer-content {
    float: none;
    width: 100%;
    margin-bottom: 0;
  }

  .footer-body .footer-list {
    float: none;
    margin-top: 0;
    margin-bottom: 2.5em;
    overflow: hidden;
  }

  .footer-list div {
    float: left;
    width: 30%;
    margin-left: 0;
    margin-top: 4.8em;
    margin-bottom: 2.4em;
  }
  .navbar-menu {
    display: block;
    float: right;
  }

  .nav-bar {
    float: none;
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 100%;
    text-align: center;
    padding: 20vh 0;
  }

  .nav-bar > button {
    position: absolute;
    top: 48px;
    right: 48px;
  }

  .nav-list li {
    float: none;
    margin-right: 0;
    margin-bottom: 76.8px;
  }
}

@media all and (max-width: 36rem) {
  .secondary-container {
    padding: 4.5rem 1.25rem;
    width: 92.5%;
  }

  .navbar-menu {
    display: block;
    float: right;
  }

  .container {
    margin-bottom: 6.25rem;
    display: block;
  }

  .container img {
    height: 21.6875rem;
    padding: 3rem 0;
    float: none;
    width: 100%;
  }

  .container .article {
    float: none;
    margin: 0;
  }

  .container .article h1 {
    font-size: 2.25rem;
    line-height: 2.938rem;
    font-style: normal;
    font-weight: 700;
    width: 100%;
    color: #3b3950;
  }

  .container .article p {
    margin-top: 0.75rem;
    line-height: 1.5rem;
    font-style: normal;
    font-weight: 400;
    width: 24.25rem;
    color: #797979;
  }

  .btn {
    margin-right: 8px;
    padding: 0.875rem 1.5rem;
  }

  .our-work-row {
    margin-top: 14.3125rem;
    margin-bottom: 3.125rem;
  }

  .our-work-list {
    position: relative;
    float: none;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .our-work-list:not(:last-child) {
    margin-bottom: 1.25rem;
    margin-right: 0;
  }

  .our-work-list h2 {
    font-size: 1.563rem;
  }

  .our-work-list p {
    position: relative;
    width: 26.6875rem;
    height: 3.5rem;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .blog-article {
    margin-left: 0;
    margin-bottom: 4.5rem;
  }

  .blog-article h2 {
    width: 4.563rem;
    padding-left: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .blog-article p {
    width: 24.3125rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .hot-topics {
    margin-top: 0;
    width: 100%;
  }

  .hot-article {
    width: 100%;
    padding: 0;
  }

  .view {
    padding-bottom: 4.5rem;
  }

  .footer-body .footer-content {
    float: none;
    width: 100%;
    margin-bottom: 0;
  }

  .footer-body .footer-list {
    float: none;
    margin-top: 0;
    margin-bottom: 2.5em;
    overflow: hidden;
  }

  .footer-list div {
    float: left;
    margin-left: 0;
    margin-top: 4.8em;
    width: 50%;
    height: 13.75rem;
  }

  .nav-bar {
    float: none;
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 100%;
    text-align: center;
    padding: 20vh 0;
  }

  .nav-bar > button {
    position: absolute;
    top: 48px;
    right: 48px;
  }

  .nav-list li {
    float: none;
    margin-right: 0;
    margin-bottom: 76.8px;
  }

  .article-btn-grp {
    text-align: start;
  }
}
